@mixin exhibition-1 {
  padding: 40px;
  border-bottom: solid 1px rgb(245, 245, 245);
}
.exhibition__header {
  height: 128px;
  width: 100%;
  background-color: rgb(245, 245, 245);
  text-align: center;
  line-height: 170px;
}
.exhibition__contents__main {
  background-color: rgb(245, 245, 245);
  // height: 240vh;
  width: 100%;
  &__middle {
    width: 700px;
    margin: 0 auto;
    // height: 250vh;
    background-color: white;
    &__head {
      padding: 32px 16px;
      font-size: 22px;
      text-align:center;
      border-bottom: solid 1px rgb(245, 245, 245);
      height: 32px;
      line-height: 32px;
    }
    &__heart {
      &__upload-box {
        @include exhibition-1;
        width: 620px;
        height: 223px;
        &__title {
          font-size: 16px;
          font-weight: 600;
        }
        &__explain {
          margin: 8px 0 0;
        }
        &__item {
          padding: 56px 40px 24px;
          height: 82px;
          width: 540px;
          text-align: center;
          border: 1px dashed #ccc;
          background: #F5F5F5;
          cursor: pointer;
        }
      }
      &__sell-content {
        padding: 0 40px 40px;
        height: 315px;
        width: 620px;
        &__form-one {
          font-weight: 600;
          &__name {
            width: 100%;
            height: 48px;
            font-size: 16px;
          }
        }
        &__form-group {
          margin: 40px 0 0;
          font-weight: 600;
          &__explain {
            height: 132px;
            width: 600px;
            font-size: 16px;
            line-height: 1.5;
            padding: 10px;
          }
        }
      }
      &__detail {
        @include exhibition-1;
        height: 90px;
        width: 620px;
        color: #888;
        font-size: 14px;
        &__sell-form-box {
          height: 180px;
          width: 400px;
          float: right;
          &__category {
            color: black;
          }
          &__status {
            color: black;
            margin: 40px 0 0;
          }
        }
      }
      &__delivery {
        @include exhibition-1;
        height: 170px;
        width: 620px;
        color: #888;
        font-size: 14px;
        &__sell-form-box {
          float: right;
          // height: 290px;
          width: 400px;
          color: black;
          &__area {
            margin: 40px 0 0;
          }
          &__date {
            margin: 40px 0 0;
            
          }
        }
      }
      &__money {
        padding: 40px;
        color: #888;
        font-size: 14px;
        height: 10px;
        width: 620px;
         &__sell-box {
          float: right;
          height: 50px;
          width: 400px;
          &__form-group {
            justify-content: space-between;
            display: flex;
            padding: 0 0 24px;
            &__left {
              height: 48px;
              width: 200px;
              line-height: 48px;
              color: black;
              font-weight: 600;
            }
            &__right {
              height: 48px;
              width: 200px;
              color: black;
              padding-left: 20px;
              &__money {
                display: inline-block;
                padding-left: 10px;
                .right__money {
                  height: 44px;
                  width: 165px;
                  font-size: 16px;
                  text-align: right;
                }
              }
            }
          }
        }
      }
      &__bottom {
        padding: 40px;
        height: 249px;
        width: 620px;
        font-size: 14px;
        &__display {
          .exhibition_btn{
            margin: 40px 0 0;
            height: 50px;
            width: 100%;
            background-color: red;
            text-align: center;
            line-height: 50px;
            color: white;
            cursor: pointer;
          }
        }
        &__back {
          height: 50px;
          width: 279px;
          background: #aaa;
          text-align: center;
          margin: 24px auto 0;
          color: white;
          line-height: 50px;
          cursor: pointer;
        }
      }
    }
  }
}
.exhibition__footer {
  width: 100%;
  height: 220px;
  background-color: rgb(245, 245, 245);
  &__content {
    height: 140px;
    width: 456px;
    margin: 0 auto;
    padding: 40px 0px;
    text-align:center
  }
}
#aa_theme {
  height: 48px;
  width: 400px;
}
.hoge-hoge {
  text-decoration: none;
  color: #0099E8;
}
.hoge-last {
  font-size: 12px;
  text-decoration: none;
  margin: 20px 0 ;
  color: black;
}
.exhibition-essential {
  color: white;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  font-size: 12px;
  vertical-align: top;
  background: #EA352D;
}
.hoge-btn {
  color: white;
  text-decoration: none;
}
