.confirmation {  
  height: 100%;
  background-color: rgb(245, 245, 245);
  &__header {
    height: 130px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    text-align: center;
    line-height: 170px;
  }
  &__contents__main {
    background-color: rgb(245, 245, 245);
    width: 100%;
    &__middle {
      width: 700px;
      margin: 0 auto;
      background-color: white;
      &__head {
        padding: 32px 16px;
        font-size: 22px;
        font-weight: bold;
        text-align:center;
        border-bottom: solid 1px rgb(245, 245, 245);
        height: 32px;
        line-height: 32px;
      }
      &__heart {
        &__upload-box {
          width: 620px;
          padding: 40px;
          border-bottom: solid 1px rgb(245, 245, 245);
          &__title {
            font-size: 16px;
          }
          &__explain {
            margin: 8px 0;
          }
        
        }

        &__delivery {
          padding: 40px;
          height: 291px;
          width: 620px;
          border-bottom: solid 1px rgb(245, 245, 245);
          color: #888;
          font-size: 14px;
          &__sell-form-box {
            float: right;
            height: 290px;
            width: 400px;
            color: black;
            &__area {
              margin: 40px 0;
            }
            &__date {
              margin: 40px 0;
            }
          }
        }
      }
    }
  }
  &__footer{
   height: 220px; 
  }
}