.confirmation__header {
  height: 128px;
  width: 100%;
  background-color: rgb(245, 245, 245);
  text-align: center;
  line-height: 170px;
}
.confirmation__contents__main {
  background-color: rgb(245, 245, 245);
  height: 300vh;
  width: 100%;
  &__middle {
    width: 700px;
    margin: 0 auto;
    height: 300vh;
    background-color: white;
    &__head {
      padding: 32px 16px;
      font-size: 22px;
      font-weight: bold;
      text-align:center;
      border-bottom: solid 1px rgb(245, 245, 245);
      height: 32px;
      line-height: 32px;
    }
    &__heart {
      &__upload-box {
        width: 620px;
        padding: 40px;
        // height: 223px;
        border-bottom: solid 1px rgb(245, 245, 245);
         &__title {
          font-size: 16px;
        }
         &__explain {
          margin: 8px 0 0;
        }
       
      }

       &__delivery {
        padding: 40px;
        height: 291px;
        width: 620px;
        border-bottom: solid 1px rgb(245, 245, 245);
        color: #888;
        font-size: 14px;
         &__sell-form-box {
          float: right;
          height: 290px;
          width: 400px;
          color: black;
           &__area {
            margin: 40px 0 0;
          }
           &__date {
            margin: 40px 0 0;
          }
        }
      }
       &__money {
        padding: 40px;
        border-bottom: solid 1px rgb(245, 245, 245);
        color: #888;
        font-size: 14px;
        height: 219px;
        width: 620px;
         &__sell-box {
          float: right;
          height: 218px;
          width: 400px;
           &__form-group {
            justify-content: space-between;
            display: flex;
            padding: 0 0 24px;
            border-bottom: solid 1px rgb(245, 245, 245);
             &__left {
              height: 48px;
              width: 200px;
              line-height: 48px;
              color: black;
            }
              &__right {
              height: 48px;
              width: 200px;
              color: black;
              line-height: 48px;
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}
