.top_body{
  width: 100vw;
  overflow: hidden;
  .headerBox {
    width: 100vw;
    height: 180px;
    &__upperBox {
      width:900px;
      height: 70px;
      display: flex;
      margin: auto;
      padding-top: 10px;
      &__furimaIcon {
      padding-right: 50px;
      width: 160px;
      height: 60px;
      }
      &__search {
        width: 900px;
        height: 40px;
        display: flex;
        .text111 {
          width: 600px;
          height: 40px;
        }
        &__searchIcon {
        width: 50px;
        height: 44px;
        background-color: #3CCACE;
        }
      }
    }
    &__lowerBox {
      width: 900px;
      height: 60px;
      display: flex;
      justify-content: space-between;
      margin: auto;
      &__leftBox {
        width: 230px;
        height: 60px;
        display: flex;
        &__category{
          width: 80px;
          height: 45px;
          padding-right: 30px;
        }
        &__brand{
          width: 80px;
          height: 45px;
        }
      }
      &__rightBox{
        width: 230px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        &__login {
          display: flex;
          height: 45px;       
          &__registration {
            width: 100px;
            height: 45px;
          }
        }
      }
    }
    &__pan {
 
    }
    .breadcrumbs-list {
      color: black;
      width: 100%;
      text-align: center;
    }
  }
  .Topimage{
    height: 3520px;
  }
    .TopImage {
      position: relative;  
      &__mainMessage {
        padding-left: 100px;
        width: 100vw;
        height: 200px;
        font-size: 60px;
        position: absolute;
        top: 200px;
        left: 60px;
        color: white;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__subMessage {
        padding-left: 100px;
        width: 370px;
        height: 200px;
        font-size: 22px;
        position: absolute;
        top: 300px;
        left: 60px;
        color: white;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__app-googleBox {
        width: 400px;
        height: 100px;
        position: absolute;
        top: 370px;
        display: flex;
        padding-left: 100px;
        justify-content:space-around;
        &__app-storeIcon {
          width: 100px;
          height: 100px;
          padding-top: 30px;
        }
        &__google-playIcon {
          width: 100px;
          height: 100px;
          padding-top: 19px;
        }
      }
    }
  .MiddleTop {
    font-size: 24px;
    width: 370px;
    height: 40px;
    padding: 50px 0 70px;
    text-align: center;
    margin: auto;
    font-weight: bold;
  }
  .MiddleTop:after {
    content:'___________';
    display: block;
    color:#3CCACE;
  }
  @mixin PicNum {
    position: absolute;
    top: 0px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    color: white;
    background-color: #3CCACE;
    text-align: center;
    border-radius: 3px solid 1px rgb(245, 245, 245);
  }
  @mixin Image{
    width: 300px;
    height: 300px;
    position: relative;
  }
  .PicBox{
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
    &__ImageLeft {
      @include Image ;
      &__PicNum1 {
        @include PicNum ;
      }
    }
    &__ImageMiddle {
      @include Image ;
      &__PicNum2 {
        @include PicNum ;
      }
    }
    &__ImageRight {
      @include Image ;
      &__PicNum3 {
        @include PicNum ;
      }
    }
  }
  .MainMessageBox {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
    font-weight: bold;
  .s {
    color: #3CCACE;
  }
    @mixin Message {
      font-size: 24px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &__LeftMessage {
      @include Message;
    }
    &__MiddleMessage {
      @include Message;
    }
    &__RightMessage {
      @include Message;
    }
  }
  .SubMessageBox { 
    display: flex;
    justify-content: space-around;
    padding: 0 100px 40px;
    font-weight: bold;
    @mixin Text {
      width: 280px;
      text-align: center;
    }
    &__LeftSubText {
      @include Text;
    }
    &__MiddleSubText {
      @include Text;
    }
    &__RightSubText {
      @include Text;
    }
  }
  .ContenrMainImage {
    position: relative;
    width: 100vw;
    @mixin Content {
      padding-left: 100px;
      width: 100vw;
      height: 200px;
      color: white;
      position: absolute;
      left: 60px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__ContentMainMessage {   
      @include Content;   
      top: 100px;
      font-size: 30px;   
    }
    &__ContentSubMessage {
      @include Content;
      top: 150px;
      font-size: 20px;
    }
    &__app-googleBox2 {
      width: 400px;
      height: 100px;
      position: absolute;
      top: 260px;
      left: 68px;
      display: flex;
      padding-left: 80px;
      .app-store{
        padding-top: 12px;
      }
      &__app-storeIcon2 {
        width: 100px;
        height: 100px;
      }
      &__google-playIcon2 {
        width: 100px;
        height: 100px;
      }
    }
  }
  .MiddleTop2 {
    font-size: 24px;
    width: 370px;
    height: 40px;
    text-align: center;
    margin: auto;
    padding: 50px 0 70px;
    font-weight: bold;
  }
  .MiddleTop2::after {
    content:'___________';
    color:#3CCACE;
    display: block;

  }
  .PicBox2{
    display: flex;
    justify-content: space-around;
    padding: 0 250px;
    &__ImageLeft2 {
    position: relative;
    }
    &__ImageMiddle2 {
    position: relative;
    }
    &__ImageRight2 {
    position: relative;
    }
  }
  .MainMessageBox2 {
    display: flex;
    justify-content: space-around;
    padding: 0 250px;
    font-weight: bold;
    @mixin Message {
      font-size: 24px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &__LeftMessage2 {
      @include Message;
    }
    &__MiddleMessage2 {
      @include Message;
    }
    &__RightMessage2 {
      @include Message;
    }
  }
  .SubMessageBox2 { 
    display: flex;
    justify-content: space-around;
    padding: 0 250px 40px;
    font-weight: bold;
    &__LeftSubText2 {
      width: 260px;
      text-align: center;
    }
    &__MiddleSubText2 {
      width: 260px;
      text-align: center;
    }
    &__RightSubText2 {
      width: 260px;
      text-align: center;
    }
  }

  .PicUpCategory {
    font-weight: bold;
    font-size: 28px;
    height: 40px;
    text-align: center;
    padding-top: 30px;
    background-color: #f8f8f8;
  }
  .ProsBox {
    width: 100vw;
    height:400px;
    background-color: #f8f8f8;
    &__MainTopTopic {
      font-size: 24px;
      font-weight: bold;
      height:30px;
      text-align: center;
      color: #3CCACE;
      margin-bottom: 30px;
    }
    &__ProsBoxU {
      height:250px;
      display: flex;
      justify-content: space-around;
      &__ProLeft {
        overflow: hidden;
        width: 200px;
        height:240px;
        background-color: white;
      }
    }  
  }
  .PicUpBrand {
    font-size: 28px;
    font-weight: bold;
    height: 40px;
    text-align: center;
    background-color: #f8f8f8;
  }
  .ProsBox {
    &__Archiver {
      font-weight: bold;
      font-size: 24px;
      width: 100vw;
      height:30px;
      text-align: center;
      color: #3CCACE;
      margin-bottom: 30px;
    }
    &__ProsBoxU {
      height:250px;
      display: flex;
      justify-content: space-around;
      padding: 0 200px;
      &__ProLeft {
        width: 200px;
        height:240px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(51, 47, 47);
      }
    }
  }
  .ContenrMainImage3 {
    position: relative;
    width: 100vw;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    &__ContentMainMessage3 {
      width: 100vw;
      height: 200px;
      font-size: 35px;
      font-weight: bold;
      position: absolute;
      top: 100px;
      left: 60px;
      color: white;
      text-align: center;
    }
    &__ContentSubMessage3 {
      width: 100vw;
      height: 200px;
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      top: 180px;
      left: 60px;
      color: white;
      text-align: center;
    }
    &__app-googleBox3 {
      width: 100vw;
      position: absolute;
      top: 240px;
      &__center {
        display: flex;
        width: 280px;
        text-align: center;
        margin: 0 auto;
        &__app-storeIcon3 {
          width: 100px;
          height: 100px;
        }
        .app-store2 {
          padding-top: 11px;
        }
        &__google-playIcon3 {
          
        }
      }  
    }
  }
}

.TopPageFooter1 {
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: space-around;
  background-color: #272727;
  color: white;
}

.WhiteFURIMAicon {
  width: 100vw;
  height: 100px;
  background-color:#272727;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

.about1 {
  color: white;
  text-decoration: none;
}
p.sub {
  color: white;
}

.fixed_btn{
  h1 {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.login_btn{
  color:white;
  font-weight: bold;
  padding: 9px 15px;
  border-radius: 6px;
  background-color: #3CCACE;
}
.logout_btn{
  color:white;
  font-weight: bold;
  padding: 9px 6px;
  border-radius: 6px;
  background-color: #3CCACE;
}
