%header.freem-header
  %div.freem-header.inner
    %div.freem-header-top
      %h1
        %a{:href => '＃'}
          %img{:alt => "FURIMA", :height => "36", :src => "logo.png", :width => "134"}
        %from{:action => "#", :class => "freem-header-form"}
        %input{:name => "keyword", :type => "search" }
          %div.i-con.search
      %div{:class => "freem-header.navbox>"}
        %nav{:class => "l-left>"}
          %ul{:class=>"freem-header.nav"}

%nav{:class=>"freem-bread-crumb"}
  %ul
    %li{:itemscope =>"#"}
      %a{:href=>"#", :itemprop =>"url"}
        %span{:itemprop=>"title"}
          フリマ
          %i{:class=> "icon-arorows-right"}
            %il{:itemscope=>"#"}
              %span{:itemprop=>"title"}
                