.l-chapter-head{
  height: 50px;
  width: 700px;
  background-color: gray;
  margin: 10px 0 0 100px;
  text-align: center;
  font-size: 30px;
}
.l-single-inner{
  height: 100px;
  width: 700px;
  background-color: whitesmoke;
  margin: 0 0 0 100px;
  text-align: center;
}