// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headerBox {
  width: 100vw;
  height: 130px;
  &__upperBox {
    width: 100vw;
    height: 50px;
    display: flex;
    &__furimaIcon {
    width: 160px;
    height: 60px;
    }
    &__search {
    width: 510px;
    height: 40px;
      &__text {
      width: 500px;
      height: 40px;
      }
    }
    &__searchIcon {
    width: 40px;
    height: 40px;
    background-color: #3CCACE;
    }
  }
  &__lowerBox {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    &__leftBox{
      width: 230px;
      height: 60px;
      display: flex;
      justify-content: space-around;
      &__category{
        width: 80px;
        height: 45px;
    }
      &__brand{
        width: 80px;
        height: 45px;
      }
  }
    &__rightBox{
      width: 230px;
      height: 60px;
      display: flex;
      justify-content: space-between;
      &__login {
        width: 80px;
        height: 45px;
      }
      &__registration {
        width: 100px;
        height: 45px;
      }
    }
  }
}

.TopImage {
position: relative;
  &__mainMessage {
  width: 100vw;
  height: 200px;
  font-size: 60px;
  position: absolute;
  top: 200px;
  left: 60px;
  }
  &__subMessage {
  width: 370px;
  height: 200px;
  font-size: 18px;
  position: absolute;
  top: 300px;
  left: 60px;
  }
  &__app-googleBox {
  width: 380px;
  height: 100px;
  position: absolute;
  top: 370px;
  display: flex;
  &__app-storeIcon {
  width: 100px;
  height: 100px;
  }
  &__google-playIcon {
  width: 100px;
  height: 100px;
  }
  }
  }
  .MiddleTop {
    width: 100px;
  height: 100px;
  }
  .PicBox{
    &__ImageLeft {
    width: 278px;
    height: 278px;
      &__PicNum1 {
      width: 30px;
      height: 30px;
      }
    }
    &__ImageMiddle {
    width: 278px;
    height: 278px;
      &__PicNum2 {
      width: 30px;
      height: 30px;
      }
    }
    &__ImageRight {
    width: 278px;
    height: 278px;
      &__PicNum3 {
      width: 30px;
      height: 30px;
      }
    }
  }
  .MainMessageBox {
    &__LeftMessage {}
    &__MiddleMessage {}
    &__RightMessage {}
  }
  .SubMessageBox { 
    &__LeftSubText {}
    &__MiddleSubText {}
    &__RightSubText {}
  }