.mypage{
  background-color: rgb(239, 239, 239);
  &__free {
    width: 720px;
    background-color:white;
    margin: 0 auto;
    border: 1px solid black;
    &__icon {
      height: 240px;
      background-color: white;
      &__box {
        height: 110px;
        width: 720px;
        margin-top: 40px;
        &__profile {
          height: 60px;
          width: 720px;
          text-align: center;
          padding-bottom: 20px;
          &__name {
            padding-top: 20px;
            font-size: 30px;
            font-weight: bold;
          }
          &__detail {
            padding-top: 20px;
            font-size: 20px;
          }
        }
      }
    }
    &__card { 
      font-size: 30px;
      font-weight: bold;
    }  
    &__item {
      height: 100px;
      text-align: center;
      line-height: 100px;
      border-top: 2px solid black;
      border-bottom: 2px solid black; 
      font-size: 30px;
      font-weight: bold;
    }  
    &__items {
      height: 475px;
      text-align: center;
      line-height: 10px;
      width:720px;
      overflow: scroll;
    }  
  }
}
.method {
  color: #0caada;
  font-size: 15px;
}