.freem-header {
  font-family: Arial;
  font-weight: 500;
  position: relative;
  z-index: 1001;
  height: 150px;
  width: 100%;
  background:blue;
  .freem-header.inner{
    margin: 0 auto;
    background-color: red;
    width: 1000px;
    height: 75px;
    .freem-header-top{
      width: 1000px;
      height: 75px;
      background:yellow;
      .freem-header-form {
        width: 40px;
        height: 40px;

      }
    }
  }
}
.ul{
  padding-inline-start: 40px;
  margin-block-end: 1em;
  margin-block-start: 1em;
}
.icon-arorows-right{
  width: 100%;
  height: 50px;
  color:black
}
.freem-bread-crumb{
  width: 100%;
  height: 50px;
  background-color: red;
  .title{
    font-size:14px;
    color:black;
  }
}